# Site settings
name: "AI360Trading"
url: "https://ai360trading.in"
baseurl: ""
timezone: "Asia/Kolkata"
future: true

# Build settings
markdown: kramdown
highlighter: rouge
permalink: /:title/

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

# Defaults
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
