<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img src="/public/image/profile.png" width="150" height="150" alt="Systronics"></div>
    
              <strong>Amit Kumar | Systronics</strong>    
  
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}<br>
     
            <!-- social buttons -->
      {% if site.facebook.username %}
      <a href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank" title="Facebook">
        <i class="fa fa-fw fa-facebook fa-lg"></i>
      </a>
      {% endif %}
      {% if site.twitter.username %}
      <a href="https://twitter.com/{{site.twitter.username}}" target="_blank" title="Twitter">
        <i class="fa fa-fw fa-twitter fa-lg"></i>
      </a>            
      {% endif %}
      {% if site.linkedin.username %}
      <a href="https://www.linkedin.com/in/{{site.linkedin.username}}" target="_blank" title="Linkedin">
        <i class="fa fa-fw fa-linkedin fa-lg"></i>
      </a>
      {% endif %}
      {% if site.youtube.username %}
      <a href="https://youtube.com/{{site.youtube.username}}" target="_blank" title="Youtube">
        <i class="fa fa-fw fa-youtube fa-lg"></i>
      </a>
      {% endif %}
      {% if site.instagram.username %}
      <a href="https://instagram.com/{{site.instagram.username}}" target="_blank" title="Instagram">
        <i class="fa fa-fw fa-instagram fa-lg"></i>
      </a>
      {% endif %}
      {% if site.pinterest.username %}
      <a href="https://pinterest.com/{{site.pinterest.username}}" target="_blank" title="Pinterest">
        <i class="fa fa-fw fa-pinterest fa-lg"></i>
      </a>
      {% endif %}
    <br>
        
<a href="https://www.paypal.me/systronics" title="PayPal" target="_blank" rel="nofollow noopener noreferrer"><img src="/public/image/paypalbmc.png" width="140" height="50" alt="Buy me a coffee!"></a>
<div class="fb-like" data-href="https://googlepass.net/" data-width="" data-layout="box_count" data-action="like" data-size="small" data-share="false"></div>
</ul>
  </div></div>
