<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img src="/public/image/profile.png" alt="Systronics" width="200" height="200"></div>
              <strong>Amit Kumar | Systronics</strong>    
  
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
            
            <!-- social buttons -->
       {% if site.twitter.username %}
      <a href="https://twitter.com/{{site.twitter.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-twitter fa"></i>
      </a>
      {% endif %}
      {% if site.facebook.username %}
      <a href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-facebook fa"></i>
      </a>
      {% endif %}
      {% if site.linkedin.username %}
      <a href="https://linkedin.com/in/{{ site.linkedin.username }}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-linkedin fa"></i>
      </a>
      {% endif %}
      {% if site.pinterest.username %}
      <a href="https://pinterest.com/{{site.pinterest.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-pinterest fa"></i>
      </a>
      {% endif %}
      {% if site.youtube.username %}
      <a href="https://youtube.com/{{site.youtube.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-youtube fa"></i>
      </a>
      {% endif %}
      {% if site.instagram.username %}
      <a href="https://instagram.com/{{site.instagram.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-instagram fa"></i>
      </a>
      {% endif %}
      {% if site.telegram.username %}
      <a href="https://telegram.me/{{site.telegram.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-telegram fa"></i>
      </a>
      {% endif %}
      {% if site.reddit.username %}
      <a href="https://reddit.com/user/{{site.reddit.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-reddit fa"></i>
      </a>
      {% endif %}      
      {% if site.quora.username %}
      <a href="https://www.quora.com/profile/{{site.quora.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-quora fa"></i>
      </a>
      {% endif %}
      {% if site.github.username %}
      <a href="https://github.com/{{site.github.username}}" target="_blank" style="text-decoration:none">
        <i class="fa fa-fw fa-github fa"></i>
      </a>
      {% endif %}
      
    </ul>

    <p><strong>&copy; {{ site.time | date: '%Y' }}, Googlepass</strong></p>
  </div>
</div>
