<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  
  <body>
  
<div style="text-align: center">
<h1>  <a href="/" title="ai360trading">
  <img src="/public/image/header.webp" alt="ai360trading" width="728" height="90"></a></h1>
  </div>

<div style="text-align: center">
<div>
   <style>
      button{
        display: inline-block;
        margin: 0 auto;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight : bold;        
      }
    </style>
<div>
  <button><a href="/">Home</a></button>
  <button><a href="/contact">Contact</a></button>
  <button><a href="/disclaimer">Disclaimer</a></button>
  <button><a href="/policy">Policy</a></button>
    
</div></div></div>

<div style="text-align: center">  

      {% if site.facebook.username %}
      <a href="https://www.facebook.com/{{ site.facebook.username }}" target="_blank" title="Facebook">
        <i class="fa fa-fw fa-facebook fa-lg"></i>
      </a>
      {% endif %}
      {% if site.twitter.username %}
      <a href="https://twitter.com/{{site.twitter.username}}" target="_blank" title="Twitter">
        <i class="fa fa-fw fa-twitter fa-lg"></i>
      </a>            
      {% endif %}
              {% if site.instagram.username %}
      <a href="https://instagram.com/{{site.instagram.username}}" target="_blank" title="Instagram">
        <i class="fa fa-fw fa-instagram fa-lg"></i>
      </a>
      {% endif %}
      {% if site.youtube.username %}
      <a href="https://youtube.com/@{{site.youtube.username}}" target="_blank" title="Youtube">
        <i class="fa fa-fw fa-youtube fa-lg"></i>
      </a>
      {% endif %}
      {% if site.telegram.username %}
      <a href="https://www.telegram.me/{{site.telegram.username}}" target="_blank" title="Telegram">
        <i class="fa fa-fw fa-telegram fa-lg"></i>
      </a>
      {% endif %}      
</div>
    
<div class="content container">
  
      {{ content }}
</div>
    
</body>
</html>
