---
layout: default
---
{% if page.lang %}
<div class="post" lang="{{page.lang}}">
{% else %}
<div class="post">
{% endif %}
  <h1 class="post-title">{{ page.title }}</h1>  
  <span class="post-tags">
    [&nbsp;
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="no-underline" href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>    
    {% endfor %}
    ]
  </span>  
  {{ content }}
  <div class="sharethis-inline-share-buttons"></div>
  {% include related.html %}
  </div>
   
{% include disqus.html %}
