name: AlgoTradeBot
on:
  schedule:
    - cron: '*/2 4-10 * * 1-5' # 9:30 AM - 3:30 PM IST
  workflow_dispatch:

jobs:
  trade:
    runs-on: ubuntu-latest
    concurrency:
      group: trading-bot
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install deps
        run: pip install dhanhq gspread oauth2client pyotp pytz requests
      - name: Run Bot
        env:
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
          DHAN_CLIENT_ID: ${{ secrets.DHAN_CLIENT_ID }}
          DHAN_TOTP_KEY: ${{ secrets.DHAN_TOTP_KEY }}
          DHAN_PIN: ${{ secrets.DHAN_PIN }}
        run: python -u trading_bot.py
