name: AlgoTradeBot

on:
  schedule:
    # 09:05 AM to 03:45 PM IST (Runs every 5 mins, offset by 5 to avoid traffic)
    - cron: '5/5 3-10 * * 1-5'
    
    # 12:05 AM IST (Midnight Reset)
    - cron: '35 18 * * 1-5'
    
  workflow_dispatch: 

jobs:
  trade:
    runs-on: ubuntu-latest
    # Added permissions to ensure it can write to the repo if needed
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install gspread oauth2client requests pytz
      - name: Run Trading Bot
        env:
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }} 
          CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python -u trading_bot.py
